.title {
    margin: 25px;
    font-size: 50px;
    tra
}

.cell {
    border: 2px solid #000;
    height: 100px;
    width: 100px;
    text-align: center;
}

.disable-table {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.3;
}

.pointer {
    cursor: pointer;
    outline: none;
}

.turn {
    font-size: 18px;
    font-weight: bold;
}

.limit-img-size {
    width: 24px;
    height: 24px;
}

.note {
    margin: 0 0 25px 0;
    font-size: 16;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    color: grey;
}

.auth-btn {
    margin: 5px;
    cursor: pointer;
    outline: none;
}

.auth-btn:hover {
    text-decoration: underline;
}

.status-text {
    font-size: 10px;
    margin-right: 5px;
}

.error-msg {
    font-size: 13px;
    color: red;
}